* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* border: 1px red solid; */
}

/* css to override  */

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  color: cadetblue;
}

.header {
    padding: 20px;
    background-color: dimgrey;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 60px;
    background-color: cadetblue;
    color: dimgray;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color: cadetblue;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    border-bottom: 3px cadetblue solid;
    padding: 0px 10px;
}

.header-img > img {
    width: 100%;
}

main {
    margin: auto;
    width: 80%;
}

main section {
    display: flex;
}

main section h2 {
    font-size: 48px;
    border-right: 3px darkcyan solid;
    color: darkcyan;
    padding: 10px;
}

#featured-project {
    display:inline-block;
    flex-basis: auto;
    justify-content: center;
    flex-direction: column;
}

#featured-project > p {
    position:relative; bottom: 30px;
}

/* base code for this flexbox layout taken from https://codepen.io/mogpt/pen/ebXdzg */
.proj-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .proj-box > div {
    display: flex; 
    flex-basis: auto;  
    justify-content: center;
    flex-direction: column;
  }
  
.box { margin: 10px; }

.proj-box > div > p {
    position:relative; bottom: 30px;
}

.proj-name {
    font-size: 24px;
    color: black;
    background-color: darkcyan;
    font-weight: bold;
    padding: 5px;

}


